body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-size: 0px;
}

@font-face {
    font-family: Abel;
    src: url('Abel-Regular.ttf');
}

#import-trigger {
    display: none;
}

#input {
    position: fixed;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 3px 4px;
    border: 1px solid wheat;
    cursor: pointer;
}
#input:hover {
    background: #777;
}

#setting-anchor {
    position: fixed;
    font-size: 1rem;
    top: 0;
    left: 0;
    z-index: 12;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #777;
}
/*
#manual-input {
    padding: 5px;
}
#manual-input > * {
    border: 1px solid black;
    padding: 1px
}
#manual-input input {
    width: 150px;
}*/
#ready-page2print > button {
    width: auto !important;
    margin: .5rem;
    font-size: 1.3rem;
}
#ready-page2print > button:hover {
    background-color: rgba(250,250,250,0.5);
    outline: 1px solid red;
}

#item-list-anchor {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(100,100,100,0.8);
    border-radius: 0 0 0 50px;
    padding: .5rem;
}
#item-list-anchor img {
    background-color: rgba(250,250,250,0.4);
    height: 1.2rem;
    margin: 0 0.1rem;
    padding: 0.1rem;
    border-radius: .2rem;
    cursor: pointer;
}
#item-list-anchor button {
    cursor: pointer;
}
#item-list-anchor > div {
    display: flex;
    justify-content: space-around;
    gap: 0.2rem;
}
#item-list-anchor > div > * {
    padding: 0 .3rem;
    width: 8.5rem;
    text-wrap: nowrap;
    text-align: center;
    overflow: hidden;
}
#item-list-anchor > div > *:first-child {
    width: 5rem;
}
#item-list-header {
    font-size: 1.3rem;
    padding-bottom: .5rem;
}
#item-list-header > span:not(:first-child) {
    background-color: rgba(250,250,250,0.4);
    cursor: pointer;
}
#item-list-anchor > .entry {
    font-size: 1rem;

}

canvas {
    /*position: fixed;
    top: 0;
    left: 0;*/
    background: rgb(230, 230, 230);
    width: 100%;
    padding: 0;
    margin: 0 0;
}